.DS_Store
Thumbs.db
*.swp
*.swo
.idea
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

node_modules
/build
/.svelte-kit
/package

src-tauri/target
src-tauri/gen/schemas
src-tauri/.tauri
*.pdb

.env
.env.*
!.env.example

vite.config.js.timestamp-*
vite.config.ts.timestamp-*
*.log
